@model RegisterVM
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Kullanıcı Kayıt</h4></header>
            <form method="post">
                <div class="form-row">
                    <div class="col form-group">
                        <label>@Html.DisplayNameFor(x => x.Name)</label>
                        @Html.ValidationMessageFor(x => x.Name)
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                        <label> @Html.DisplayNameFor(x => x.LastName)</label>
                        @Html.ValidationMessageFor(x => x.LastName)
                        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
                <div class="form-group">
                    <label> @Html.DisplayNameFor(x => x.UserName)</label>
                    @Html.ValidationMessageFor(x => x.UserName)
                    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                    <small class="form-text text-muted">Valla mailinizi kimseyle paylaşmayacağız.</small>
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label> @Html.DisplayNameFor(x => x.Email)</label>
                    @Html.ValidationMessageFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    <small class="form-text text-muted">Valla mailinizi kimseyle paylaşmayacağız.</small>
                </div> <!-- form-group end.// -->
                <div class="form-group">
                    <label class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(x => x.Gender, "male", new { @class = "custom-control-input" })
                        <span class="custom-control-label"> Erkek </span>
                    </label>
                    <label class="custom-control custom-radio custom-control-inline">
                        @Html.RadioButtonFor(x => x.Gender, "female", new { @class = "custom-control-input" })
                        <span class="custom-control-label"> Kadın </span>
                    </label>
                </div> <!-- form-group end.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>City</label>
                        <input type="text" class="form-control">
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>Country</label>
                        <select id="inputState" class="form-control">
                            <option> Choose...</option>
                            <option>Uzbekistan</option>
                            <option>Russia</option>
                            <option selected="">United States</option>
                            <option>India</option>
                            <option>Afganistan</option>
                        </select>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row.// -->
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label> @Html.DisplayNameFor(x => x.Password)</label>
                        @Html.ValidationMessageFor(x => x.Password)
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                        <label>@Html.DisplayNameFor(x => x.ConfirmPassword)</label>
                        @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control" })
                    </div> <!-- form-group end.// -->
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Kayıt Ol  </button>
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> I am agree with <a href="#">terms and contitions</a>  </div> </label>
                </div> <!-- form-group end.// -->
            </form>
        </article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Zaten Hesabın Var Mı? <a href="@Url.Action("Login","Home")">Giriş Yap</a></p>
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>

