
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!-- /.content-header -->
<!-- Main content -->
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <span>@TempData["Success"]</span>
    </div>
}
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                       
                        <h3>
                            @ViewData["ToplamSiparis"]
                        </h3>

                        <p>Toplam Sipariş</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="@Url.Action("Index","Order")" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                 
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>
                            @ViewData["ToplamÜrün"]
                            
                        </h3>

                        <p>Toplam Ürün</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="@Url.Action("Index","Product")" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3>
                            @ViewData["ToplamKullanici"]
                        </h3>

                        <p>Toplam Kullanıcı</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="@Url.Action("Index","Appuser")" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h3>
                            @ViewData["EnYuksekFiyat"]
                        </h3>

                        <p>En Yüksek Fiyat</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <a href="@Url.Action("Index","Order")" class="small-box-footer">Detay <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
           
        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
<!-- /.content -->
